In [1]:
student_data = {'id1':
                    {'name': 'Sara',
                     'age': 28,
                     'salary': 2000,
                     "hope":9
                     },
                'id2':
                    {'name': 'Sara',
                     'age': 18,
                     'salary': 1000
                     },
                "a": "A",
                'id3':
                    {'name': 'Omid',
                     "age": 20,
                     'salary': 1000,
                     "a":"gogolo"
                     },
                'id4': dict(name="Amir", age=28, salary=2000,last_name="lbnany"),
                "last_name": "Mohammadi",
                "poem":8
                }

### without  defaultdict

In [2]:
flat = dict()
key_inner_list = []
val_inner_list = []
key =[]

# flat whole dict to a flat dict
for outer_key, outer_val in student_data.items():
    if isinstance(outer_val,dict):
        for i in outer_val.keys():
            key_inner_list.append(i)
        for i in outer_val.values():
            val_inner_list.append(i)            
    else:
        key_inner_list.append(outer_key)
        val_inner_list.append(outer_val)
#numberd keys
uniqe_key_inner_list = list(set(key_inner_list))
for key in uniqe_key_inner_list:
    key_index = [index for index in range(len(key_inner_list)) if key_inner_list[index]==key]
    if len(key_index) >1:
        for en,index_ in enumerate(key_index):
            key_inner_list[index_] = key+"_"+str(en)

# combine key and vals
dict(zip(key_inner_list,val_inner_list))

{'name_0': 'Sara',
 'age_0': 28,
 'salary_0': 2000,
 'hope': 9,
 'name_1': 'Sara',
 'age_1': 18,
 'salary_1': 1000,
 'a_0': 'A',
 'name_2': 'Omid',
 'age_2': 20,
 'salary_2': 1000,
 'a_1': 'gogolo',
 'name_3': 'Amir',
 'age_3': 28,
 'salary_3': 2000,
 'last_name_0': 'lbnany',
 'last_name_1': 'Mohammadi',
 'poem': 8}

In [3]:
flat = dict()
key_inner_list = []
val_inner_list = []
key =[]

# flat whole dict to a flat dict
for outer_key, outer_val in student_data.items():
    if isinstance(outer_val,dict):
        for i in outer_val.keys():
            key_inner_list.append(i)
        for i in outer_val.values():
            val_inner_list.append(i)            
    else:
        key_inner_list.append(outer_key)
        val_inner_list.append(outer_val)

# sperate every key by list of val.-->{'a': ['A', 'gogolo'], 'last_name': ['Mohammadi'], 'name': ['Sara', 'Sara', 'Omid', 'Amir'], 'salary': [2000, 1000, 1000, 2000], 'age': [28, 18, 20, 28]}

l=[]
uniqe_key_inner_list = list(set(key_inner_list))
main=dict()
for uniq_key in uniqe_key_inner_list:
    lis=[]
    for x,y in zip(key_inner_list,val_inner_list):
        if x==uniq_key:
            lis.append(y)
        main[uniq_key]=lis
#numberd
for key,val in main.items():
    if len(val) == 1:
        flat[key] = item 
    else:
        for en,item in enumerate(val):
            new_key = key+"_"+str(en)
            flat[new_key] = item
flat

{'a_0': 'A',
 'a_1': 'gogolo',
 'salary_0': 2000,
 'salary_1': 1000,
 'salary_2': 1000,
 'salary_3': 2000,
 'hope': 2000,
 'name_0': 'Sara',
 'name_1': 'Sara',
 'name_2': 'Omid',
 'name_3': 'Amir',
 'poem': 'Amir',
 'age_0': 28,
 'age_1': 18,
 'age_2': 20,
 'age_3': 28,
 'last_name_0': 'lbnany',
 'last_name_1': 'Mohammadi'}

### best way

In [4]:
from collections import defaultdict
flat = dict()
first_occurance_dict = defaultdict(list)
for outer_key, outer_val in student_data.items():
    if isinstance(outer_val, dict):
        for inner_key, inner_val in outer_val.items():
            first_occurance_dict[inner_key].append(inner_val)
    else:
        first_occurance_dict[outer_key].append(outer_val)

for key, val_list in first_occurance_dict.items():
    if len(val_list) == 1:
        flat[key] = val_list[0]
    else:
        for i, val in enumerate(val_list):
            key_name = key + "_" + str(i)
            flat[key_name] = val
            
print(first_occurance_dict)

defaultdict(<class 'list'>, {'name': ['Sara', 'Sara', 'Omid', 'Amir'], 'age': [28, 18, 20, 28], 'salary': [2000, 1000, 1000, 2000], 'hope': [9], 'a': ['A', 'gogolo'], 'last_name': ['lbnany', 'Mohammadi'], 'poem': [8]})

### defaultdict

In [5]:
  
from collections import defaultdict
  
  
# Defining a dict
d = defaultdict(list)
  
for i in range(5):
    d["lop"].append(i)
      
print("Dictionary with values as list:")
print(d)

Dictionary with values as list:
defaultdict(<class 'list'>, {'lop': [0, 1, 2, 3, 4]})

In [6]:
# Python program to demonstrate
# defaultdict
   
   
from collections import defaultdict
   
   
# Defining the dict
d = defaultdict(int)
   
L = [1, 2, 3, 4, 2, 4, 1, 2]
   
# Iterate through the list
# for keeping the count
for i in L:
    
    #الگوریتم شمارش   
    # The default value is 0
    # so there is no need to 
    # enter the key first
    d[i] += 1
       
print(d)

defaultdict(<class 'int'>, {1: 2, 2: 3, 3: 1, 4: 2})

In [7]:
from collections import defaultdict
d = defaultdict()
d["l"].append(9)
d

KeyError: 'l'

In [16]:
a = [1,2,3,4]
a[1] += 1
a

[1, 3, 3, 4]

In [22]:
a = {"first":1,"second":2}
a["first"] += 7
a

{'first': 8, 'second': 2}