## list

In [46]:
list=["ali","saadat","hashem",["helia","akhtar"],1]

### nested list

In [47]:
list[1][1]

'a'

### range
range(int)------          true
<br>
range(float)-----   false

In [19]:
range(2.0)

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
list(range(4,30,3))

[4, 7, 10, 13, 16, 19, 22, 25, 28]

In [13]:
list(range(4,30,3.0))

TypeError: 'float' object cannot be interpreted as an integer

### index

<p style="background-color:#7FFFD4;">"how"</p>

In [48]:
#find sth in a list
list.index("ali")
list.index(["helia"])

ValueError: ['helia'] is not in list

### add to a list

In [49]:
name=["ali","mamad","sadegh","kazem"]

### just <b>one</b> item
name.append("lotos","seyed") will give error

In [50]:
name.append("lotos")
print(name)

['ali', 'mamad', 'sadegh', 'kazem', 'lotos']

In [51]:
name.extend("sasan","hatam")
print(name)

TypeError: list.extend() takes exactly one argument (2 given)

In [53]:
name.extend(["sasan","hatam"])
print(name)

['ali', 'mamad', 'sadegh', 'kazem', 'lotos', 'sasan', 'hatam', 'sasan', 'hatam']

In [54]:
name.extend([1])
print(name)

['ali', 'mamad', 'sadegh', 'kazem', 'lotos', 'sasan', 'hatam', 'sasan', 'hatam', 1]

In [55]:
name.extend("tike")
print(name)

['ali', 'mamad', 'sadegh', 'kazem', 'lotos', 'sasan', 'hatam', 'sasan', 'hatam', 1, 't', 'i', 'k', 'e']

In [56]:
#must have another var to use +
o=name+["behnam"]
print(name)
print(o)

['ali', 'mamad', 'sadegh', 'kazem', 'lotos', 'sasan', 'hatam', 'sasan', 'hatam', 1, 't', 'i', 'k', 'e']
['ali', 'mamad', 'sadegh', 'kazem', 'lotos', 'sasan', 'hatam', 'sasan', 'hatam', 1, 't', 'i', 'k', 'e', 'behnam']

### inserts a new item to a specific index

In [57]:
name.insert(0,"soltan")
print(name)

['soltan', 'ali', 'mamad', 'sadegh', 'kazem', 'lotos', 'sasan', 'hatam', 'sasan', 'hatam', 1, 't', 'i', 'k', 'e']

In [65]:
name[0]="danial"
print(name)

['danial', 'mamad', 'sadegh', 'kazem', 'lotos', 'sasan', 'hatam', 'sasan', 'hatam', 1, 't', 'i', 'k', 'e']

### delete an index

In [72]:
del name[7]
print(name)

['danial', 'mamad', 'sadegh', 'hatam', 'hatam', 1, 't', 'k', 'e']

In [70]:
name.remove("sasan")
print(name)

['danial', 'mamad', 'sadegh', 'hatam', 'hatam', 1, 't', 'i', 'k', 'e']

### pop()
remove and return

In [75]:
while len(name)>0:
 print(name.pop()," is return")
 print(name)

hatam  is return
['danial', 'mamad', 'sadegh', 'hatam']
hatam  is return
['danial', 'mamad', 'sadegh']
sadegh  is return
['danial', 'mamad']
mamad  is return
['danial']
danial  is return
[]

#### it could give an argoman

In [3]:
list_0 = ["a","x","a"]
poop=list_0.pop(1)  #number of arrey not 'x',
print(poop)

x

### delite whole list

In [76]:
print(name)
del name

[]

In [77]:
print(name)

NameError: name 'name' is not defined

### sort,sorted, reverse

In [5]:
frut = ["appel","pitch","kivi"]
frut.reverse()
frut

['kivi', 'pitch', 'appel']

In [6]:
number = [2,4,8,2,1]
number.sort()
number

[1, 2, 2, 4, 8]

In [11]:
number = [2,4,8,2,1]
sor = sorted(number)
p=(sor,number)
p

([1, 2, 2, 4, 8], [2, 4, 8, 2, 1])

In [1]:
a="fahimeh is the"
a.index("is")

8