In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
deta = pd.read_csv("D:\\python\\clone\\DataMiningwithPython\\Session01\\preparation_data.csv")

In [52]:
deta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Weight       547 non-null    object
 1   Cholesterol  547 non-null    object
 2   Gender       547 non-null    int64
dtypes: int64(1), object(2)
memory usage: 12.9+ KB

In [53]:
deta["Weight"].unique()

array(['102', '115', '140', '1130', '198', '114', '145', '191', '186',
       '104', '188', '96', '156', '125', '178', '109', '168', '152',
       '133', '153', '107', '199', '-140', '95', '183', '108', '190',
       '174', '149', '169', '138', '151', '106', '195', '129', '166',
       '197', '148', '117', '193', '170', '130', '134', '128', '105',
       '110', '164', '157', '124', '113', '150', '100', '139', '101',
       '187', '137', '121', '132', '180', '122', '185', '123', '119',
       '126', '116', '144', '154', '97', '146', '118', '179', '142',
       '131', '176', '103', '120', '143', '203', '192', '112', '173',
       '141', '175', '181', '111', '200', '167', '196', '171', '135',
       '184', '161', '159', '158', '201', '127', '172', '1', '155', '160',
       '136', '182', '147', '99', '98', '177', '194', '189', 'menoo',
       '162', '-172'], dtype=object)

In [54]:
strng = deta.index[deta["Weight"]=="menoo"]
deta.drop(index=strng,inplace=True)

In [55]:
deta["Weight"] = deta["Weight"].astype("float")

In [56]:
deta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 0 to 546
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Weight       546 non-null    float64
 1   Cholesterol  546 non-null    object
 2   Gender       546 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 17.1+ KB

In [58]:
deta[~((deta.Weight>60) & (deta.Weight<260))].count()

Weight         4
Cholesterol    4
Gender         4
dtype: int64

In [59]:
deta = deta[(deta.Weight>60) & (deta.Weight<260)]
deta.describe()

           Weight      Gender
count  542.000000  542.000000
mean   143.774908    0.529520
std     30.874097    0.542173
min     95.000000    0.000000
25%    116.250000    0.000000
50%    141.000000    1.000000
75%    171.750000    1.000000
max    203.000000    4.000000

In [60]:
deta.Cholesterol.unique()
deta.drop(index = deta.index[deta.Cholesterol == "pooya"],inplace=True)

In [61]:
deta.Cholesterol = deta.Cholesterol.astype('float')

In [62]:
deta.Cholesterol.describe()

count     541.000000
mean      173.060998
std        74.858174
min      -158.000000
25%       137.000000
50%       170.000000
75%       208.000000
max      1208.000000
Name: Cholesterol, dtype: float64

In [68]:
deta = deta[(deta.Cholesterol>40) & (deta.Cholesterol<300)]
deta

     Weight  Cholesterol  Gender
0     102.0        111.0       1
1     115.0        135.0       1
2     115.0        136.0       1
3     140.0        167.0       0
5     198.0        227.0       1
..      ...          ...     ...
541   116.0        130.0       1
542   172.0        207.0       1
544   107.0        115.0       1
545   117.0        147.0       1
546   148.0        176.0       1

[536 rows x 3 columns]

In [73]:
deta.Gender.value_counts()

1    275
0    258
3      2
4      1
Name: Gender, dtype: int64

In [101]:
index_gender = deta.index[deta.Gender>1]
deta.drop(index = index_gender,inplace=True)

In [102]:
deta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533 entries, 0 to 546
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Weight       533 non-null    float64
 1   Cholesterol  533 non-null    float64
 2   Gender       533 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 16.7 KB