### tuple

#### things witch seperated with , 
#### tehey are  immulated listlist

In [2]:
a="sara",
print(a)
type(a)

('sara',)

tuple

In [3]:
tup=("ds,",[4,"pilio"],(8,4,4),5)
tup[1][1][3]

'i'

In [4]:
tup[::2]

('ds,', (8, 4, 4))

In [7]:
tup.count(5)

1

In [8]:
tup.index(5)

3

###

In [ ]:
## set
### doesnt show similar elements
### doesnt have 'tartib'

In [9]:
a=[3,4]
a[0]=1
print(a)

a={3,4,1,}

[1, 4]

In [15]:
set_ = {1,2,1,"salar", (1,)}
sat_1={"sima",1}


print("salar" in set_)
print(set_)
print(set_ | sat_1)
print(set_ & sat_1)
print(set_ ^ sat_1)   # in a or b , but not in both
print(set_ - sat_1)   # uniq item in first
print(set_ > sat_1)   # is a incloud every item in b?
print(len(set_))

True
{1, 2, (1,), 'salar'}
{1, 2, (1,), 'sima', 'salar'}
{1}
{2, 'sima', (1,), 'salar'}
{(1,), 2, 'salar'}
False
4

### dictionary

In [17]:
countries={"iran":"tehran" ,
           "italy":"rome",
          "Fiji" :"Suva"}

In [20]:
countries["iran"
        ]

'tehran'

### add

In [22]:
countries["spain"]= "madrid"
countries

{'iran': 'tehran', 'italy': 'rome', 'Fiji': 'Suva', 'spain': 'madrid'}

In [24]:
### like extend in list,but it will remove repeated item

new={"Haiti":"Port au Prince","japon":"tokyo","Fiji" :"Suva"}
countries.update(new)
countries

{'iran': 'tehran',
 'italy': 'rome',
 'Fiji': 'Suva',
 'spain': 'madrid',
 'Haiti': 'Port au Prince',
 'japon': 'tokyo'}

In [26]:
print("germany" in countries,
"tokyo"in countries,
"Fiji"in countries)

False False True

### acces to key , value , and both

In [27]:
countries.keys()

dict_keys(['iran', 'italy', 'Fiji', 'spain', 'Haiti', 'japon'])

In [29]:
countries.values()

dict_values(['tehran', 'rome', 'Suva', 'madrid', 'Port au Prince', 'tokyo'])

In [31]:
countries.items()

dict_items([('iran', 'tehran'), ('italy', 'rome'), ('Fiji', 'Suva'), ('spain', 'madrid'), ('Haiti', 'Port au Prince'), ('japon', 'tokyo')])

In [32]:
"macawo" in countries

False

In [34]:
"Fiji" in countries.keys()

True

### delite

In [35]:
del countries["Haiti"]
countries

{'iran': 'tehran',
 'italy': 'rome',
 'Fiji': 'Suva',
 'spain': 'madrid',
 'japon': 'tokyo'}

In [ ]:
### empty dic

In [ ]:
empty_dic = dict()
empty_dic_1={}
empty=set()